
/* --heading-font: 'Montserrat', sans-serif;
--paragraph-font: 'Roboto Mono', monospace; */

 /* change the values below to your colors from your palette */
 /* --primary-color: #A0C1B9;
 --secondary-color: #2B4570;
 --accent1-color: #70A0AF;
 --accent2-color: #FFCAB1; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}

header {
    background-color: #2B4570;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    position: relative;
}

.logo {
    width: 100px;   
}

.hero {
    margin: auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.hero-title {
    margin: 0;
    padding: 0;
}

#menu {
    display: block;
    position: absolute;
    padding: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
}


#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
    content: "X"
}


nav ul {
    list-style-type: none;   
}

nav li {
    display: none;
}

nav a {
    font-weight: 600;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.open li {
    display: block;
    width: 100%;
} 

nav .active {
    background-color: rgba(0,0,0,0.25);
}

.main {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h2 {
    color: #2B4570;
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: black;
    background-color: #70a0af;
    text-align: center;
}

.business {
    padding: 10px;
}

.weather {
    max-width: 400px;
    width: 100%;
    background-color: #A0C1B9; 
    padding: 20px;
}

.spotlights {
    max-width: 400px;
    width: 100%;
    height: auto;
    background-color: #FFCAB1;
    padding: 20px;
}

.spotlights-title {
    width: 100%;
    text-align: center;
}

.business-info {
    padding: 10px;
    text-align: center;
}

.discover-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: black;
    background-color: #70a0af;
    text-align: center;
    margin-top: 10px;

}

.local-photos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
}
.sidebar {
    padding: 10px;
}

.local-photos h3 {
    margin-bottom: 10px;
}

.local-photos p {
    margin-bottom: 20px;
}

footer {
    background-color: #2B4570;
    text-align: center;
    color: white;
}