
/* --heading-font: 'Montserrat', sans-serif;
--paragraph-font: 'Roboto Mono', monospace; */

 /* color palette */
 :root {
    --primary-color :#2B4570;
    --secondary-color: #a0c1b9;
    --accent1-color: #70A0AF;
    --accent2-color: #FFCAB1;
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}

header {
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    position: relative;
}

.logo {
    width: 100px;   
}

#menu {
    display: block;
    position: absolute;
    padding: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
}

#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
    content: "X"
}


nav ul {
    list-style-type: none;   
}

nav li {
    display: none;
}

nav a {
    font-weight: 600;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.open li {
    display: block;
    width: 100%;
} 

nav .active {
    background-color: rgba(0,0,0,0.25);
}

/* home page styling */

.main {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* hero */
.hero {
    margin: auto;
    position: relative;
    background-size: cover;
    height: auto;
    margin-bottom: 0;
}

.hero img {
    max-height: 400px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.hero-title h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    max-width: fit-content;
}



/* home page main */

.banner-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content strong {
    font-size: 1.5em;
}
.banner-content p {
    margin: 10px;
    font-size: 1.5em;
}

.banner-close {
    background: none;
    border: none;
    cursor: pointer;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
}

/* spotlights */

.spotlight-card {
    margin: .25rem;
    padding: .5rem;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: opacity 1s ease-in-out;
}

.spotlight-card.fade-in {
    opacity: 1;
}

.spotlight-card img {
    max-height: 150px;
    width: auto;
    max-width: 250px;
}

.spotlights {
    margin-top: 0;
    display: block;
    height: auto;
    background-color: var(--secondary-color);
    padding: 20px;
}

.spotlights-title {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 20px;
}

#local-businesses {
    display: none;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
}

#local-businesses.show {
    display: flex;
    transform: scale(1);
}

.spotlights-title {
    text-align: center;
}

/* events */

.card {
    min-width: 300px;
    max-width: 375px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: black;
    background-color: white;
    text-align: center;
}
.card img{
    max-width: 275px;
}

.events {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

/* weather */

.weather {
    display: block;
    background-color: var(--accent1-color);
    max-width: 100%;
    padding-top: 2px;
    text-align: center;
}

.weather h2 {
    border-bottom: none;
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}
.current-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.current-icon {
    width: 80px;
    height: 80px;
}

.current-temp {
    font-size: 1.5em;
    padding: 0;
}

.current-description {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.20em;
}

.forecast-entry {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid black;
}

.forecast.icon {
    width: 40px;
    height: 40px;
}

.forecast-temp {
    font-size: 1em;
}

.forecast-description {
    margin: 5px;
}

/* banner */
.banner-ad {
    background-color: var(--accent2-color);
}



/* styling for the Discover page */
.business-info {
    padding: 10px;
    text-align: center;
}

.discover-card h2 {
    color: black;
}

.discover-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: black;
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 10px;

}

.discover-card p.standout {
    color: white;
    border: 1px solid white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
.discover-card p {
    padding: 5px;
    text-align: left;
}

h1 {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 36px;
    

}
.local-photos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--accent1-color);
}


.sidebar {
    padding: 10px;
    background-color: var(--accent1-color);
}

.local-photos h3 {
    margin-bottom: 10px;
}

.local-photos p {
    margin-bottom: 20px;
}

/* join page styling */
main.join {
    display: block;
    margin: 20px auto;
    padding: 0 2%;
    min-height: 20rem;
}

h1.form {
    text-align: Center;
    color: var(--primary-color);
}

form fieldset {
    border: 1px solid #2f2f2f;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    background-color: var(--secondary-color);
}

form legend {
    text-align: left;
    background-color: var(--accent1-color);
    width: 100%;
    padding: 20px 20px;
    border-radius: 3px 3px 0 0;
    color: black;
    font-size: 2em;
    margin-top: 10px;  
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 1px rgb(139, 139, 139);
    border-radius: 1px;
    padding: 15px 20px;
    color: var(--primary-color);
    width: 100%;
    max-width: 20rem;
    background-color: white;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--primary-color)
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.benefits-content {
    padding: 15px;
    border: 1px solid rgb(139, 139, 139);
    margin-top: 10px;
    background-color: white;
}

.benefits-content h3 {
    color: black;
    margin-bottom: 10px;
}

.benefits-content p {
    color: var(--primary-color)
}

form label.descrip textarea {
    width: 100%;
    height: 7rem;
    padding: 10px;
}

form input.submitBtn {
    border: none;
    background-color: var(--accent1-color);
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 100%;
    max-width: 23rem;
    font-weight: 600;
}

main p.thanks {
    margin: 100px 15px 100px 15px;
    background-color: var(--accent1-color);
    padding: 20px 20px;
    border-radius: 3px 3px 0 0;
    color: white;
    font-size: 2em; 
}

/* directory page styling */
.menu {
    padding: 5px;
}

.directory-main section {
    margin: .25rem;
    padding: .5rem;
    border: 1px solid black;
    box-shadow: 0 0 30px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory-main h2 {
    color: black;
}

.directory-main img {
    width: auto;
    
    max-width: 250px;
    max-height: 80px;
}

.directory-main p {
    margin: 0;
    padding: 2px;
    font-weight: 600;
    color: black;
}

button {
    padding: .5rem;
}
.directory-main.grid-view #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    padding: 3rem;
    align-items: stretch;
}

.directory-main.list-view #cards {
    margin: 15px;

}

.directory-main.list-view {
    display: flex;
    flex-direction: column;
}

.directory-main.list-view section {
    box-shadow: none;
    margin: 0;  
    padding: .5rem;
}

.directory-main.list-view section > * {
	margin: 0 1rem;
}

.directory-main.list-view section img {
	display: none; /* smaller viewports only */
}

.directory-main.list-view section h2 {
	font-size: 1rem;
    border-bottom: 0;
}

.directory-main.list-view section p {
	font-size: 1rem;
}

.directory-main.list-view section:nth-child(even) {
	background-color: var(--secondary-color);
}





/* footer */
footer {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 10px;
}

