@media screen and (min-width: 38rem) {

    header nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
    #logo_link {
        flex-grow: 0;
    }
    nav ul {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 0;
    }
   
    nav ul li {
        display: block;
    }

    nav {
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    .hero-title {
        font-size: 36px;
    }
    .events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        margin: 20px;
    }
    .events h2{
        grid-column: 1/4;
    }
    .weather {
        grid-column: 1/4;
    }
    .spotlights {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .business {
        display: flex;
        
        margin-bottom: 20px;
        width: calc(50% - 10px);
    }
    .spotlights-title {
        grid-column: 1/3;
    }
    /* styling for discover page */

    .discover-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 40px;
        max-width: 960px;
        margin: auto;
        justify-content: center;
    }

    .local-photos {
        border: 2px solid;
        border-color: black;
        
    }

   .local-pics img:hover {
    opacity: .5;
   }
   
}