:root {
    --main-color: #374B4A;
    --secondary-color: #AB9B96;
    --accent-color1: #F0E7D8;
    --accent-color2: #BA6E6E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    background-color: var(--accent-color1);
}

header, nav, main, footer {
    padding: 1rem;
}

header {
    background-color: #374B4A;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    position: relative;
}

#darkBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

#profile {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
    content: "X"
}

/* navigation bar styling */
nav {
    background-color: var(--secondary-color);
    text-align: center;
    min-height: 50px;
}


nav ul {
    list-style-type: none;
}

nav li {
    display: none;
}

nav a {
    font-weight: 600;
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.open li {
    display: block;
    width: 100%;
} 


nav .active {
    background-color: rgba(0,0,0,0.3);
}

main {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero {
    margin: auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.herolabel {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    background: radial-gradient(#fff, #526685);
    border: 1px solid rgba(0,0,0,.75);
    padding: .75rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: "sans-serif"
}

h2 {
    text-align: left;
    margin: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.card {
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    margin-bottom: 20px;
    list-style-type: none;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      
}

.card p {
    padding-left: 20px;
}

.card h3 {
    background-color: #374B4A;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    text-align: center;
}

.weather {
    margin-top: 0;
}

.week {
    text-align: left;
    padding: 1rem;
}

.weather {
    text-align: center;
    padding: 1rem;
}

.map {
    position: relative;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    /* animation: fadeIn;   */
}


main ul {
    list-style-type: none;
}

footer {
    background-color: #374B4A;
    text-align: center;
    color: white;
}

.dark-mode {
    background-color: #333;
    color: white;
}







